*, *::after, *::before{
    box-sizing: border-box;
}

img, svg{
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p, div, body{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Poppins', sans-serif;
}